.cardButton {
    font-size: 90%;
    color: #fff;
    background-color: #a48ee0;
    border-color: #6c757d;
    border: none;
    margin: 5px;
    padding:1 ;
    cursor: pointer;
    transition-duration: 0.20s;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    text-decoration: none;
}

.cardButton:active{
    background-color: #000000;
    color: #ffffff;
    margin-top: 0.5%;

}

