.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
   
    
}
.cardContainer{
    background-color: rgb(247, 247, 247);
    color: black;
    border: white 1px solid;
    box-shadow: rgba(124, 96, 101, 0.534) 2px 5px 5px;
    transition-duration: 0.20s;

    
}
.cardContainer:hover{
    transform: scale(1.02);
}
