.titulo{
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0% 1.5%;
    font-size: 150%;
    transition: transform 0.5s;
}
.titulo:hover{
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    transform: scale(1.2);
}

.categorias{
    color: white;
    margin-top:3.2%;
    padding: 1%;
}
.categorias:hover{
    text-decoration: none;
    color: white;

}
.navBar{
    background-color: rgb(255, 152, 138);
    width: 100%;
}
.btnCarrito{
    color: white;
    font-size: 200%;
    border: rgb(255, 43, 78);
    transition: transform 1.5s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.btnCarrito:hover{
    transform: scale(1.1);
}


